<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">

    <div id="env" class="btn-group" onclick="return false">
        <button name="env_one" id="DEV" type="button" class="btn btn-outline-secondary">DEV</button>
        <button name="env_one" id="SIT" type="button" class="btn btn-outline-secondary">SIT</button>
        <button name="env_one" id="UAT" type="button" class="btn btn-outline-secondary">UAT</button>
        <button name="env_one" id="SANDBOX" type="button" class="btn btn-outline-secondary">SANDBOX</button>
        <button name="env_one" id="KEJI01" type="button" class="btn btn-outline-secondary">KEJI01</button>
        <button name="env_one" id="KEJI02" type="button" class="btn btn-outline-secondary">KEJI02</button>
        <button name="env_one" id="KEJI03" type="button" class="btn btn-outline-secondary">KEJI03</button>
        <button name="env_one" id="KEJI04" type="button" class="btn btn-outline-secondary">KEJI04</button>
    </div>

</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>