<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        配置详情
        <small>NginxConf配置信息详情</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "StatisticalController.Index"}}">
                <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">配置详情</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <select class="form-control select2" id="envlist" data-placeholder="请选择环境" style="width: 100%;">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label id="env_describe"></label>
        </div>
    </div>

    <div class="row col-md-9">
    <pre id="pre"><code class="nginx">{{.Content}}</code> </pre>
    </div>
    <div class="row col-md-2 col-md-offset-1">
        <div class="row">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue">

                    <!-- /.widget-user-image -->
                    <h3>http模块信息</h3>
                </div>
                <div class="card-footer p-1">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" title="httpServer信息" onclick="HttpServerFun()">
                                Server <span class="pull-right label bg-green">{{.NgInfo.HttpSvrsNum}}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" title="http端口信息" onclick="HttpPortFun()">
                                Port <span class="pull-right label bg-green">{{.NgInfo.HttpPortNum}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">

                    <!-- /.widget-user-image -->
                    <h3>stream模块信息</h3>
                </div>
                <div class="card-footer p-1">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" title="stream端口信息" onclick="StreamPortFun()">
                                Port <span class="pull-right label bg-green">{{.NgInfo.StreamPortNum}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

