<link rel="stylesheet" href="/static/heimdallr/js/highlight/github.css">
<script src="/static/heimdallr/js/highlight/highlight.pack.js"></script>
<script src="/static/heimdallr/js/highlight/highlightjs-line-numbers.min.js"></script>
{{/*<script src="/static/heimdallr/js/highlight/highlight.line-numbers.js"></script>*/}}
<script>
/*    hljs.initHighlightingOnLoad();
    hljsln.initLineNumbersOnLoad();*/

hljs.initHighlightingOnLoad();
hljs.initLineNumbersOnLoad();
</script>
<!-- 定义scroll高度 -->
<script>
    var hi = $(window).height()
    $(function () {
        s = Math.round(hi * 0.76)
        console.log(s)
        $("code").css({
            "height":s,
            "overflow-y":"auto"
        })
    });
</script>