<style>
    pre {
        padding: 0px;
    }

    .hljsln {
        position: relative;
        display: block;
        padding-left: 3.5em !important;
    }


    .hljs-ln-numbers {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        display:inline-block;
        text-align: center;
        font-size: 1.3em;
        color: rgba(239, 16, 16, 0.91);
        background: rgba(255, 255, 255, 0.18);
        width: 40px;
    }

    .hljs-ln-code {
        font-size: 1.3em;
        padding-left: 10px;
        border-left: 2px solid #0ade3b;
    }
</style>

{{/*<style>
    pre {
        padding: 0px;
    }
    .hljsln {
        position: relative;
        display: block;
        padding-left: 3.5em !important;
        overflow: hidden;
    }
    .hljsln .ln-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 3.0em;
        height: 100%;
        border-right: 2px solid #0ade3b;
        background: rgba(255, 255, 255, 0.18);
    }
    .hljsln .ln-num {
        position: relative;
        display: inline-block;
        height: 1em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hljsln .ln-num::before {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        margin-right: 2em;
        color: rgba(239, 16, 16, 0.91);
        font-style: normal;
        font-weight: normal;
        content: attr(data-num);
    }
</style>*/}}
