<style>
    pre {
        padding: 0px;
    }
    code {
        max-height: 700px;
        overflow-y: auto;
    }

    .hljsln {
        position: relative;
        display: block;
        padding-left: 3.5em !important;
    }


    .hljs-ln-numbers {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        display:inline-block;
        text-align: center;
        font-size: 1.3em;
        color: rgba(239, 16, 16, 0.91);
        border-right: 2px solid #0ade3b;
        background: rgba(255, 255, 255, 0.18);
        width: 40px;
    }


    .hljs-ln-code {
        font-size: 1.3em;
        text-indent: 5px;
    }

</style>
