<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        统计概览
        <small>系统及配置信息统计概览</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "StatisticalController.Index"}}">
                <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">统计概览</li>
    </ol>
</section>
<!-- Main content -->
<section class="container-fluid">

        <!--系统信息 start -->
        <div class="row" style="padding-top: 20px">
            <div class="col-md-3">
                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-green">
                        <h3>Heimdallr系统信息</h3>
                    </div>
                    <div class="card-footer p-1">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    时间 <span id="time" class="pull-right label bg-blue "></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    系统 <span class="pull-right label bg-blue">{{.Info.Osinfo}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    CPU <span class="pull-right label bg-green">{{.Info.Cpu}}%</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    内存 <span class="pull-right label bg-yellow">{{.Info.Mem}}%</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    磁盘 <span class="pull-right label bg-red">{{.Info.Disk}}%</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-aqua-active">
                        <h3>Bifrost系统信息</h3>
                    </div>
                    <div class="card-footer p-1">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    时间 <span id="time" class="pull-right label bg-blue "></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    系统 <span class="pull-right label bg-blue">{{.Info.Osinfo}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    CPU <span class="pull-right label bg-green">{{.Info.Cpu}}%</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    内存 <span class="pull-right label bg-yellow">{{.Info.Mem}}%</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    磁盘 <span class="pull-right label bg-red">{{.Info.Disk}}%</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--nginx 统计信息 -->
        <div class="row" style="padding-top: 40px">
            <div class="col-md-3">
                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-blue">

                        <!-- /.widget-user-image -->
                        <h3>http模块信息</h3>
                    </div>
                    <div class="card-footer p-1">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Server <span class="pull-right label bg-blue">{{.NgInfo.HttpSvrsNum}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Location <span class="pull-right label bg-green">{{.NgInfo.LocationNum}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Port <span class="pull-right label bg-green">{{.NgInfo.HttpPortNum}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow">

                        <!-- /.widget-user-image -->
                        <h3>stream模块信息</h3>
                    </div>
                    <div class="card-footer p-1">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Server <span class="pull-right label bg-yellow">{{.NgInfo.StreamSvrsNum}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Port <span class="pull-right label bg-red">{{.NgInfo.StreamPortNum}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--http and stream 模块信息 start -->
</section>
<!-- /.content -->