<form id="thisForm">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>名称</label>
                <input type="text" name="Key" class="form-control" placeholder="" value="{{.m.Key}}">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>值</label>
                <input type="text" name="Value" class="form-control" placeholder="" value="{{.m.Value}}">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>备注</label>
                <input type="text" name="Comment" class="form-control" placeholder="" value="{{.m.Comment}}">
            </div>
        </div>
    </div>
</form>
</div>